
.content .cover_photo img {
    max-width: 100%;
}
.content .avatar_desc {
    padding: 10px 0;
}
.content .avatar_desc:before, .content .avatar_desc:after {
    content: '';
    display: table;
    clear: both;
}
.content .avatar_desc .avatar {
    float: left;
}
.content .avatar_desc .avatar img {
    width: 200px;
}
.content .avatar_desc .desc {
    float: left;
}
.content .avatar_desc .desc h2 {
    margin-top: 0;
}
.content .avatar_desc .desc p {
    margin: 0 0 7px;
}