.app_wrapper {
    width: 960px;
    margin: auto;
    display: grid;
    grid-template-areas: "header header" "nav content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}
.content {
    grid-area: content;
}
.content .cover_photo img {
    max-width: 100%;
}
.content .avatar_desc {
    padding: 10px 0;
}
.content .avatar_desc:before, .content .avatar_desc:after {
    content: '';
    display: table;
    clear: both;
}
.content .avatar_desc .avatar {
    float: left;
}
.content .avatar_desc .avatar img {
    width: 200px;
}
.content .avatar_desc .desc {
    float: left;
}
.content .avatar_desc .desc h2 {
    margin-top: 0;
}
.content .avatar_desc .desc p {
    margin: 0 0 7px;
}
.content .posts .send_post:before, .content .posts .send_post:after {
    content: '';
    display: table;
    clear: both;
}
.content .posts .send_post * {
    border: none;
}
.content .posts .send_post *:focus {
    outline: none;
    box-shadow: none;
}
.content .posts .send_post h2 {
    text-transform: capitalize;
}
.content .posts .send_post textarea {
    width: 100%;
    background-color: rgba(192, 192, 192, .5);
    height: 50px;
    border-radius: 5px;
    resize: none;
    padding: 5px;
    margin-bottom: 10px;
}
.content .posts .send_post button {
    background-color: orangered;
    float: right;
    color: #fff;
    text-transform: lowercase;
    padding: 5px 30px;
    border-radius: 4px;
    font-weight: bold;
}
.content .posts .post_replies {
    margin-top: 20px;
}
.content .posts .post_replies .reply_item {
    padding: 10px 30px;
    border-bottom: 1px solid rgba(192, 192, 192, .5);
}
.content .posts .post_replies .reply_item:before, .content .posts .post_replies .reply_item:after {
    content: '';
    display: table;
    clear: both;
}
.content .posts .post_replies .reply_item:last-child {
    border-bottom: 0;
}
.content .posts .post_replies .reply_item .avatar_bg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: orange;
    float: left;
}
.content .posts .post_replies .reply_item p {
    float: left;
    padding: 5px 0 0 20px;
    margin: 0;
}
