.nav {
    grid-area: nav;
    background-color: orange;
    padding: 20px 10px;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav ul a {
    color: #fff;
    text-decoration: none;
}

.nav ul a.active {
    font-weight: bold;
}