.cover_photo img {
    max-width: 100%;
}

.avatar_desc {
    padding: 10px 0;
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.avatar_desc .avatar img {
    width: 100%;
}

.avatar_desc .desc {
    padding-left: 20px;
}

.avatar_desc .desc h2 {
    margin-top: 0;
}

.avatar_desc .desc p {
    margin: 0 0 7px;
}